* {
    font-family: Open Sans, sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: 0
}
header {
	width: 100vw;
	height: 80vh;
	top: 0;
	left: 0;
	background-image: url('../dome.jpg');
	background-color: #A0A5FF;
	background-blend-mode: screen;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
    z-index: 1;
    transition: .4s height linear;
}

header .title {
	position: relative;
	display: inline-block;
	top: 20%;
	left: 20%;
}
header .title h1{
	font-weight: 400;
	font-size: 5em;
}
header .title h3{
	font-size: 2em;
	font-weight: 300;
}

@media (min-width: 500px) {
	#header-inner {
		background-size: cover;
	}
}
#content {
	width: 100vw;
	min-height: 60vh;
	/*display: block;*/
	/*float: left;*/
}
#tags-wrapper {
	width: 100vw;
	min-height: 100px;
	display: block;
	float: left;
}
#tags-label {
	width: 100vw;
	display: inline-block;
	margin: 5px;
	float: left;
}
#tags {
	width: 90vw;
	min-height: 20px;
	padding: 2.5px;
	margin: 0 calc(5vw - 2.5px);
	float: left;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.tag {
	min-width: 75px;
	height: 20px;
	font-size: 14px;
	padding: 2px 10px;
	margin: 2.5px;
	background-color: #C5CAE9;
	border-radius: 5px;
	display: inline-block;
	list-style: none;
}

#post-wrapper {
	width: 90vw;
	padding: 0 calc(5vw);	
	  -webkit-column-count: 5;
	  -webkit-column-gap:   2vw;
	  -moz-column-count:    5;
	  -moz-column-gap:      2vw;
	  column-count:         5;
	  column-gap:           2vw; 
	  min-height: 200px; 
}
.post {
    width: calc(100% - 10px) !important;
  	height: auto !important;
  	display: inline-block;
  	margin-bottom: 2vw;
  	padding: 5px;
  	font-size: 12px;
  	-webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border: none;
}
.post:hover {
	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.post h2 {
	font-weight: bold;
	font-size: 18px;
}
@media (max-width: 1200px) {
  #post-wrapper {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #post-wrapper {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #post-wrapper {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #post-wrapper {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}
footer {
	width: 100vw;
	height: 5vh;
	min-height: 75px;
	display: block;
	background-color: #A0A5FF;
	z-index: 3;
}