@font-face {
    font-family: Open+Sans;
    src: url('../fonts/Open_Sans/OpenSans-Regular.ttf')
}
@font-face {
    font-family: Open+Sans;
    font-weight: 300;
    src: url('../fonts/Open_Sans/OpenSans-Light.ttf')
}
* {
    font-family: Open Sans, sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: 0
}
header {
    height: 80vh;
    top: 0;
    left: 0;
    right: 0;
    background-image: url('../dome.jpg');
    background-color: #A0A5FF;
    background-blend-mode: screen;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    transition: .4s height linear;
}
header .title {
    position: relative;
    display: inline-block;
    top: 20%;
    left: 20%;
}
header .title h1 {
    font-weight: 400;
    font-size: 7em;
}
header .title h3 {
    font-size: 3em;
    font-weight: 300;
}
@media (min-width: 500px) {
    #header-inner {
        background-size: contain;
    }
}
#content {
    width: 100%;
    min-height: 60vh;
}
#tags-wrapper {
    min-height: 100px;
    background-color: #A0A5FF;
    display: flex;
    justify-content: center;
    align-items: center;
}
#tag-input {
    width: 60vw;
    font-size: 1.2em;
    padding: 10px;
    outline: none;
    color: #f0f0ff;
    background-color: inherit;
}
#tag-icon {
    font-size: 1.2em;
    padding: 10px;
    padding-right: 0;
    outline: none;
    color: #f0f0ff;
}
#tag-box-wrapper {
    box-shadow: 0px 1px 6px -3px black;
    background-color: #bdc0ff;
}
#tag-box-wrapper:focus {
    box-shadow: 0px 1px 6px -3px black;
    background-color: #cccfff;
}
::-webkit-input-placeholder {
    color: #e5e7ff;
}
:-moz-placeholder {
    color: #e5e7ff;
    opacity: 1;
}
::-moz-placeholder {
    color: #e5e7ff;
    opacity: 1;
}
:-ms-input-placeholder {
    color: #e5e7ff;
}
#tags {
    width: 90vw;
    min-height: 20px;
    float: left;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.tag {
    min-width: 75px;
    height: 20px;
    font-size: 14px;
    padding: 2px 10px;
    margin: 2.5px;
    background-color: #C5CAE9;
    border-radius: 5px;
    display: inline-block;
    list-style: none;
}
#post-wrapper {
    width: 90vw;
    min-height: 100%;
    margin: 2vh auto 0;
    -webkit-column-count: 5;
    -webkit-column-gap: 2vw;
    -moz-column-count: 5;
    -moz-column-gap: 2vw;
    column-count: 5;
    column-gap: 2vw;
    min-height: 200px;
}
.post {
    width: calc(100% - 10px) !important;
    height: auto !important;
    display: inline-block;
    margin-bottom: 2vh;
    padding: 5px;
    font-size: 12px;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-backface-visibility: hidden;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border: none;
}
.post:hover {
    -webkit-transform: scale(1.02, 1.02);
    transform: scale(1.02, 1.02);
    z-index: 10;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.post h2 {
    font-weight: bold;
    font-size: 18px;
}
@media (max-width: 1200px) {
    #post-wrapper {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}
@media (max-width: 1000px) {
    #post-wrapper {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}
@media (max-width: 800px) {
    #post-wrapper {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}
@media (max-width: 400px) {
    #post-wrapper {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}
footer {
    width: 100vw;
    height: 7vh;
    min-height: 150px;
    display: table-cell;
    background-color: #A0A5FF;
    z-index: 3;
    text-align: center;
    padding-top: 5px;
    vertical-align: middle;
}
footer a {
    color: white;
    text-decoration: none;
}
